# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build and output files
dist/
build/
out/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
